.body {
    overflow: visible;
}

#psyBoss {
    margin-left: 0px;
    margin-top: 0px;
    height:600px;
}

#speechText {
    text-align: center;
    margin-right: 70px;
}

.scoreBoard {
    float: left;
    border-style: solid;
    border-color: magenta;
    background-color: lavender;
    padding-left: 5px;
    width: 195px;
    height: 200px;
}

#inputBox {
    margin-left: 440px;
    float:left
}

.submit {
    margin-top: 10px;
    margin-left: 5px;
    width: 120px;
    float:left
}